/* TODO Add site wide styles */
html, body {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
    min-height: 100vh;
    color: black;
    /* font-family: 'MuseoModerno', cursive; */
    font-family: 'Encode Sans', sans-serif;
}

* {
    box-sizing: border-box;
}