.login-page__container {
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /* border: 1px solid red; */
    height: 100vh;
}

.login-form__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    color: black;
    border: 1px solid rgba(191, 191, 191, 0.5);
    border-radius: 15px;
    width: 550px;
    height: 600px;
    margin-top: 50px;
    position: relative;
}

.login-logo__container {
    box-sizing: border-sbox;
    display: flex;
    height: 75px;
    width: 75px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 20px;
    /* border: 1px solid red; */
}

.login-page__greeting {
    margin-top: 15px;
    font-size: 30px;
    margin-bottom: 80px;
    /* border: 1px solid blue; */
}

.login-page__errors {
    /* border: 1px solid red; */
    width: 300px;
    height: 50px;
    position: absolute;
    top: 180px;
    color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.email-input-container,
.password-input-container {
    /* border: 1px solid red; */
    display: flex;
    margin: 10px;
}

.email-login-label,
.password-login-label {
    font-size: 20px;
    position: absolute;
    pointer-events: none;
    padding: 10px 10px;
    color: #808080;
    transition: all ease-in 0.25s;
}

.email-login-input,
.password-login-input {
    height: 50px;
    width: 350px;
    padding: 25px 10px 0;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    font-size: 16px;
}

.email-login-input::placeholder,
.password-login-input::placeholder {
    color: transparent;
}

.email-login-input:focus + .email-login-label,
.email-login-input:not(:placeholder-shown) + .email-login-label,
.password-login-input:focus + .password-login-label,
.password-login-input:not(:placeholder-shown) + .password-login-label {
    font-size: 12px;
    padding: 0px 10px;
}

.email-login-input:focus + .email-login-label,
.email-login-input:focus:not(:placeholder-shown) + .email-login-label,
.password-login-input:focus + .password-login-label,
.password-login-input:focus:not(:placeholder-shown) + .password-login-label {
    background: linear-gradient(to right, #ffd587ff, #cfa344ff, #9a5f00ff, #ffd699ff, #f5be39ff);
    background-clip: text;
    color: transparent;

}

.email-login-input:focus,
.password-login-input:focus {
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(to right, #ffd587ff, #cfa344ff, #9a5f00ff, #ffd699ff, #f5be39ff) 1;
}

.login-btn,
.demo-btn {
    margin-top: 10px;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    width: 200px;
    font-family: inherit;
    border: 2px solid #808080;
}

.login-btn:hover,
.demo-btn:hover {
    cursor: pointer;
    background: linear-gradient(to right, #ffd587ff, #cfa344ff, #9a5f00ff, #ffd699ff, #f5be39ff);
    color: black;
}

.login-btn:active,
.demo-btn:active {
    color: white;
}

.sign-up-link {
    text-decoration: none;
    color: goldenrod;
    margin-top: 20px;
    font-size: 19px;
}

.sign-up-link:hover {
    color: gold;
}