.product-tile__container {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 300px;
    width: 600px;
    margin: 30px 15px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    background-color: white;
}

.product-tile__container:hover {
    box-shadow: 0 10px 10px 5px #062743;
    /* background-size: 700px 483px; */
    background-position: center;
}

.product-tile-photo {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
    width: 300px;
    /* border: 1px solid blue; */
}

.product-tile-text {
    margin-left: 30px;
}

.product-tile-name {
    font-size: 18px;
    color: white;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    
}