.product-tile__container {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 300px;
    width: 600px;
    margin: 0 15px;
    margin-bottom: 30px;
    padding: 1%;
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
    border: 1px solid transparent;
    transition: all ease-in 0.25s;
}

.product-tile__container:hover {
    border: 1px solid #f5be39ff;
    /* box-shadow: 0 10px 10px 5px gainsboro; */
    /* border: 1px solid gray; */
    background-position: center;
}

.product-tile-photo {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
    width: 300px;
    cursor: pointer;
    /* border: 1px solid red; */
}

.product-tile-text {
    margin-left: 2.5%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    height: 250px;
    width: 60%;
    /* border: 1px solid red; */
}

.product-tile-text-top {
    /* border: 1px solid red; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 80%;
    gap: 1.5%;
}

.product-tile-name {
    font-size: 18px;
    font-weight: 700;
    width: fit-content;
    cursor: pointer;
}

.product-tile-name:hover {
    text-decoration: underline;
}

.product-tile-brand {
    color: royalblue;
}

.product-tile-add-btn {
    width: 125px;
    height: 35px;
    border: 1px solid gainsboro;
    background: linear-gradient(to right, #ffd587ff, #cfa344ff, #9a5f00ff, #ffd699ff, #f5be39ff);
    font-size: 18px;
    text-align: center;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}

.product-tile-add-btn:hover {
    color: white;
    border: 1px solid #f5f5f5;
}