.rating-container input[type="radio"] {
    opacity: 0;
    width: 0;
    position: absolute;
    
}

.star-icon {
    height: 18px;
}

.review-form {
    position: relative;
    width: 100%;
    height: auto;
}

.review-form-errors {
    width: 300px;
    height: 50px;
    position: absolute;
    left: 100px;
    top: -50px;
    color: red;
    display: flex;
    flex-direction: column;
}

.review-input-box {
    font-size: 16px;
    margin-top: 0.5%;
    padding: 5px 16px 5px 10px;
    color: black;
    border: 1px solid gainsboro;
    overflow: auto;
    resize: none;
    box-sizing: border-box;
    width: 100%;
    height: 20vh;
    transition: background-color ease-in 0.25s;
}

.review-input-box:hover {
    background-color: whitesmoke;
}

.review-input-box:focus {
    background-color: white;
}

.write-review-btn {
    width: 250px;
    height: 50px;
    border: 1px solid gainsboro;
    background: linear-gradient(to right, #ffd587ff, #cfa344ff, #9a5f00ff, #ffd699ff, #f5be39ff);
    font-size: 20px;
    text-align: center;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}

.write-review-btn:hover {
    border: 1px solid gray;
    filter: contrast(125%);
}

.write-review-btn:active {
    color: white;
}