.full-search-page__container {
    box-sizing: border-box;
    display: flex;
    height: fit-content;
    min-height: calc(100vh - 190px);;
    width: auto;
    background-color: white;
    flex-wrap: wrap;
    justify-content: center;
}