.navbar__container {
    box-sizing: border-box;
    height: 75px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 350px;
    background-color: whitesmoke;
}

.nav-banner__container {
    box-sizing: border-box;
    display: flex;
    height: 25px;
    width: 160px;
    position: absolute;
    left: 100px;
}

.nav-banner__container > img {
    width: 100%;
    height: 100%;
}

.nav-banner__container:hover {
    filter: invert(50%);
}

.computing-nav,
.mobile-nav,
.wearable-nav,
.audio-nav {
    color: black;
    text-decoration: none;
}

.cart-nav {
    color: black;
    text-decoration: none;
    position: absolute;
    right: 250px;
    box-sizing: border-box;
    display: flex;
    height: 35px;
    width: 35px;

}

.cart-nav > img {
    width: 100%;
    height: 100%;
}

.cart-nav:hover > img{
    filter: invert(50%);
}

.login-nav,
.logout-btn {
    color: black;
    text-decoration: none;
    position: absolute;
    right: 100px;
    cursor: pointer;

}

.computing-nav:hover,
.mobile-nav:hover,
.wearable-nav:hover,
.audio-nav:hover,
.login-nav:hover,
.logout-btn:hover {
    color: #f5be39ff;
}

.subbar__container {
    background: linear-gradient(to right, #ffd587ff, #cfa344ff, #9a5f00ff, #ffd699ff, #f5be39ff);
    height: 15px;
    width: auto;
}

.cart-qty-nav {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #f5be39ff;
    color: black;
    text-align: center;
    font-size: 75%;
    position: absolute;
    right: -20%;
    top: -20%;
    padding-top: 2.5px;
}

.cart-nav:hover > .cart-qty-nav {
    color: white;
    background-color: black;
}