.front-page__container {
    box-sizing: border-box;
    display: flex;
    height: fit-content;
    min-height: 100vh;
    width: 100vw;
    background-color: white;
    /* border: 1px solid red; */
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    /* padding: 3%; */
    gap: 3%;
}

.front-logo__container {
    box-sizing: border-box;
    display: flex;
    height: 150px;
    width: 100%;
    background-size: 125px 125px;
    background-repeat: no-repeat;
    background-position: center;
    /* margin-top: 25px; */
    background-color: black;
    /* border: 1px solid green; */
}