.front-page__container {
    box-sizing: border-box;
    display: flex;
    height: 100vh;
    background-color: whitesmoke;
    /* border: 1px solid red; */
}

.front-logo__container {
    box-sizing: border-box;
    display: flex;
    height: 150px;
    width: 100%;
    background-size: 125px 125px;
    background-repeat: no-repeat;
    background-position: center;
    /* margin-top: 25px; */
    background-color: black;
    /* border: 1px solid green; */
}